.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.profile-card img {
  border-radius: 50%;
  max-width: 40vw;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.profile div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
