.ArticleCardView__Card {
  margin-bottom: 50px;
}

.ArticleCardView__Card h1 {
  font-size: 1.5rem;
  text-align: center;
}

.ArticleCardView__panel {
  gap: 1rem;
  justify-content: space-between;
  width: 95%;
}
