:root {
  --paper: #fffffa;
  --coal: #242424;
  --bg-color: #ffffff;
  --grey: #f0f0f0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}
